*{box-sizing: border-box;}

@font-face {
	font-family: 'ChevinPro-Light';
	src: url('../fonts/ChevinPro-Light.eot');
	src: url('../fonts/ChevinPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChevinPro-Light.woff') format('woff'),
		url('../fonts/ChevinPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ChevinPro-DemiBold';
	src: url('../fonts/ChevinPro-DemiBold.eot');
	src: url('../fonts/ChevinPro-DemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChevinPro-DemiBold.woff') format('woff'),
		url('../fonts/ChevinPro-DemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'ChevinPro-ExtraBoldItalic';
	src: url('../fonts/ChevinPro-ExtraBoldItalic.eot');
	src: url('../fonts/ChevinPro-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChevinPro-ExtraBoldItalic.woff') format('woff'),
		url('../fonts/ChevinPro-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'ChevinPro-Thin';
	src: url('../fonts/ChevinPro-Thin.eot');
	src: url('../fonts/ChevinPro-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChevinPro-Thin.woff') format('woff'),
		url('../fonts/ChevinPro-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'ChevinPro-Bold';
	src: url('../fonts/ChevinPro-Bold.eot');
	src: url('../fonts/ChevinPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChevinPro-Bold.woff') format('woff'),
		url('../fonts/ChevinPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ChevinPro-ExtraBold';
	src: url('../fonts/ChevinPro-ExtraBold.eot');
	src: url('../fonts/ChevinPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChevinPro-ExtraBold.woff') format('woff'),
		url('../fonts/ChevinPro-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'ChevinPro-LightItalic';
	src: url('../fonts/ChevinPro-LightItalic.eot');
	src: url('../fonts/ChevinPro-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChevinPro-LightItalic.woff') format('woff'),
		url('../fonts/ChevinPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'ChevinPro-MediumItalic';
	src: url('../fonts/ChevinPro-MediumItalic.eot');
	src: url('../fonts/ChevinPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChevinPro-MediumItalic.woff') format('woff'),
		url('../fonts/ChevinPro-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'ChevinPro-DemiBoldItalic';
	src: url('../fonts/ChevinPro-DemiBoldItalic.eot');
	src: url('../fonts/ChevinPro-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChevinPro-DemiBoldItalic.woff') format('woff'),
		url('../fonts/ChevinPro-DemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'ChevinPro-BoldItalic';
	src: url('../fonts/ChevinPro-BoldItalic.eot');
	src: url('../fonts/ChevinPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChevinPro-BoldItalic.woff') format('woff'),
		url('../fonts/ChevinPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'ChevinPro-Medium';
	src: url('../fonts/ChevinPro-Medium.eot');
	src: url('../fonts/ChevinPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChevinPro-Medium.woff') format('woff'),
		url('../fonts/ChevinPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ChevinPro-ThinItalic';
	src: url('../fonts/ChevinPro-ThinItalic.eot');
	src: url('../fonts/ChevinPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChevinPro-ThinItalic.woff') format('woff'),
		url('../fonts/ChevinPro-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

.page-header {
  display: flex;
  width: 1278px;
  min-height: 660px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.page-header__bg {
  display: flex;
  justify-content: center;
  padding-top: 160px;
  width: 640px;
  height: 660px;
  background: url('../img/head_bg.jpg') no-repeat center;
  background-size: contain;
}

.page-header__logo {
  width: 280px;
  height: 280px;
  background: url('../img/logo.png') no-repeat center;
  background-size: contain;
  z-index: 5;
}

.page-header__text {
  width: 530px;
  min-height: 328px;
  margin-top: 155px;
  margin-left: 54px;
}

.page-header__text-min {
  margin-bottom: 18px;
  opacity: 0.5;
  font-family: 'ChevinPro-Light';
  font-size: 17px;
  line-height: 1.41;
  color: #333333;
}

.page-header__text-title {
  margin-bottom: 42px;
  font-family: 'ChevinPro-Light';
  font-size: 42px;
  line-height: 1.1;
  color: #333333;
}

.page-header__text-title-bold {
  font-family: 'ChevinPro-DemiBold';
}

.btn {
  padding: 21px 20px;
  background: #00ABE8;
  box-shadow: 0px 0px 0px #00ABE8;
  border-radius: 8px;
  text-decoration: none;
  font-family: "ChevinPro-DemiBold";
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}

.page-header__text-management-btn {
  margin-right: 24px;
}

.page-header__text-management-detail {
  font-family: 'ChevinPro-DemiBold';
  font-size: 13px;
  color: #00abe8;
  text-decoration: none;
}

.main {
  width: 1278px;
  margin: 0 auto;
  padding: 0 180px;
}

.features__title {
  margin: 0 auto;
  margin-bottom: 60px;
  font-family: "ChevinPro-Thin";
  width: 403px;
  height: 46px;
  font-size: 42px;
  text-align: center;
  color: #333333;
}

.features__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features__item {
  width: 270px;
  margin-bottom: 66px;
}

.item-icon {
  margin: 0 auto;
  margin-bottom: 18px;
  width: 102px;
  height: 102px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item-icon--1 {
  background-image: url('../img/why-1.png');
}

.item-icon--2 {
  background-image: url('../img/why-2.png');
}

.item-icon--3 {
  background-image: url('../img/why-3.png');
}

.item-icon--4 {
  background-image: url('../img/why-4.png');
}

.item-icon--5 {
  background-image: url('../img/why-5.png');
}

.item-icon--6 {
  background-image: url('../img/why-6.png');
}

.item-text {
  text-align: center;
}
